const XAxisTitleExample = (props) => {
  const xyProps = {
    width: 400, height: 300,
    domain: {x: [0, 100], y: [0, 100]}
  };

  return <XYPlot {...xyProps}>
    <XAxisTitle title="Basic Y Axis Title" />
  </XYPlot>;
};

ReactDOM.render(<XAxisTitleExample />, mountNode);
