const YAxisTitleExample = (props) => {
  const xyProps = {
    width: 400, height: 300,
    xDomain: [0, 100], yDomain: [0, 100]
  };

  return <XYPlot {...xyProps}>
    <YAxisTitle title="Basic Y Axis Title" />
  </XYPlot>;
};

ReactDOM.render(<YAxisTitleExample />, mountNode);
