const YGridExample = (props) => {
  const size = {width: 400, height: 300};

  return <div>
    <XYPlot xDomain={[-20, 20]} yDomain={[-20, 20]} {...size}>
      <YGrid tickCount={50} />
      <YGrid tickCount={5} lineStyle={{stroke: 'blue', strokeWidth: 2}} />
    </XYPlot>
  </div>
};

ReactDOM.render(<YGridExample />, mountNode);
