const XAxisExample = (props) => {
  const size = {width: 350, height: 100};

  return <div>
      <XYPlot xDomain={[-20, 20]} yDomain={[-20, 20]} {...size}>
        <XAxis title="Custom Ticks" ticks={[-12, -5, -2, 0, 2, 5, 12]}/>
      </XYPlot>
  </div>
};

ReactDOM.render(<XAxisExample />, mountNode);
