const XAxisTitleExample = (props) => {
  const xyProps = {
    width: 500, height: 200,
    xDomain: [0, 100], yDomain: [0, 100]
  };

  return <XYPlot {...xyProps}>
    <XAxisTitle title="Basic X Axis Title" />
  </XYPlot>;
};

ReactDOM.render(<XAxisTitleExample />, mountNode);
