const YAxisExample = (props) => {
  const dateDomain = [new Date(2008, 0, 1), new Date(2017, 0, 1)];
  const numberDomain = [-20, 20];
  const categoricalDomain = ['puppies', 'kitties', 'ponies'];
  const size = {width: 100, height: 300};
  const chartStyle = {display: 'inline-block', marginRight: '10px'};

  return <div>
    <div style={chartStyle}>
      <XYPlot xDomain={numberDomain} yDomain={numberDomain} {...size}>
        <YAxis title="Number"/>
      </XYPlot>
    </div>
    <div style={chartStyle}>
      <XYPlot xDomain={numberDomain} yDomain={dateDomain} {...size}>
        <YAxis title="Date"/>
      </XYPlot>
    </div>
    <div style={chartStyle}>
      <XYPlot xDomain={numberDomain} yDomain={categoricalDomain} {...size}>
        <YAxis title="Categorical"/>
      </XYPlot>
    </div>
  </div>
};


ReactDOM.render(<YAxisExample />, mountNode);
