const XGridExample = (props) => {
  const size = {width: 400, height: 300};
  const chartStyle = {display: 'inline-block', marginRight: '10px'};

  return <div>
    <div style={chartStyle}>
      <XYPlot domain={{x: [-20, 20], y: [-20, 20]}} {...size}>
        <XGrid tickCount={50} />
        <XGrid tickCount={5} lineStyle={{stroke: 'blue', strokewidth: 2}} />
      </XYPlot>
    </div>
  </div>
};

ReactDOM.render(<XGridExample />, mountNode);
