const XGridExample = (props) => {
  const size = {width: 400, height: 300};

  return <div>
    <XYPlot xDomain={[-20, 20]} yDomain={[-20, 20]} {...size}>
      <XGrid tickCount={50} />
      <XGrid tickCount={5} lineStyle={{stroke: 'blue', strokeWidth: 2}} />
    </XYPlot>
  </div>
};

ReactDOM.render(<XGridExample />, mountNode);
