const AreaHeatmapExample = (props) => {
  const gridData = _.range(30).map(m => {
    return _.range(30).map(n => {
      return {
        x: n,
        xEnd: n + 1,
        y: m,
        yEnd: m + 1,
        value: Math.sin(m * n * 0.01)
      };
    });
  });

  const data = _.flatten(gridData);

  return <div>
    <XYPlot {...{width: 500, height: 500}}>
      <XAxis /><YAxis />

      <AreaHeatmap
        data={data}
        area={d => d.value}
        x={d => d.x}
        xEnd={d => d.xEnd}
        y={d => d.y}
        yEnd={d => d.yEnd}
        rectStyle={{fill: 'rebeccapurple'}}
      />
    </XYPlot>

    <XYPlot {...{width: 500, height: 500}}>
      <XAxis /><YAxis />

      <AreaHeatmap
        data={data}
        area={d => d.value}
        x={d => d.x}
        xEnd={d => d.xEnd}
        y={d => d.y}
        yEnd={d => d.yEnd}
        rectStyle={{fill: '#41ab5d'}}
      />
      <AreaHeatmap
        data={data}
        area={d => d.value * -1}
        x={d => d.x}
        xEnd={d => d.xEnd}
        y={d => d.y}
        yEnd={d => d.yEnd}
        rectStyle={{fill: '#fc4e2a'}}
      />
    </XYPlot>
  </div>;
};

ReactDOM.render(<AreaHeatmapExample/>, mountNode);
