const HistogramExample = (props) => {
  const randomNormalArr = _.times(1000, d3.randomNormal(0, 1)).concat(_.times(1000, d3.randomNormal(3, 0.5)));
  const domain = {x: [-4, 5], y: [0, 200]};

  return <div>
    <div>
      <XYPlot width={450} height={300}>
        <XAxis /><YAxis />
        <Histogram
          data={randomNormalArr} value={d => d}
        />
      </XYPlot>
    </div>
    {/*<div>*/}
      {/*<XYPlot*/}
        {/*domain={domain}*/}
        {/*marginLeft={40}*/}
        {/*marginRight={8}*/}
        {/*width={450} height={40}*/}
        {/*showGrid={false}*/}
        {/*showLabels={false}*/}
        {/*showTicks={false}*/}
      {/*>*/}
        {/*<ScatterPlot*/}
          {/*data={randomNormalArr}*/}
          {/*x={d => d}*/}
          {/*getY={() => Math.random()*200}*/}
          {/*pointRadius={1}*/}
        {/*/>*/}
      {/*</XYPlot>*/}
    {/*</div>*/}
  </div>;
};

ReactDOM.render(<HistogramExample />, mountNode);
