const RangeRectExample = (props) => {
  return <div>
    <XYPlot
      width={500} height={320}
      xDomain={[0, 100]} yDomain={[0, 100]}
      domain={{x: [0,100], y: [0,100]}}
      xScaleType="linear" yScaleType="linear">
      <XAxis /><YAxis />
      <RangeRect
        x={10} xEnd={40}
        y={50} yEnd={80}
        style={{fill: 'rebeccapurple'}}
      />
      <RangeRect
        x={65} xEnd={85}
        y={15} yEnd={95}
        style={{fill: 'coral'}}
      />
    </XYPlot>
  </div>;
};

ReactDOM.render(<RangeRectExample />, mountNode);
