class Area2DatasetsExample extends React.Component {
  render() {
    const data1 = randomWalkTimeSeries(115).map(([x,y]) => ({x, y}));
    const data2 = randomWalkTimeSeries(115).map(([x,y]) => ({x, y}));

    // we have two datasets, but AreaChart takes one combined dataset
    // so combine the two datasets into one using the combineDatasets utility function
    // (import from 'Reactochart/lib/utils')
    // original datasets are of the shape [{x: ..., y: 20}]
    // combined is of the shape [{x: ..., y0: 20, y1: 30}]
    const combined = utils.Data.combineDatasets([
      {data: data1, combineKey: 'x', dataKeys: {y: 'y0'}},
      {data: data2, combineKey: 'x', dataKeys: {y: 'y1'}}
    ], 'x');

    return <div>
      <XYPlot width={500}>
        <XAxis tickCount={4}/><YAxis/>
        <AreaChart data={combined} getX='x' getY='y0' getYEnd='y1' />
        <LineChart data={data1} getX="x" getY="y"/>
        <LineChart data={data2} getX="x" getY="y"/>
      </XYPlot>
    </div>
  }
}

ReactDOM.render(<Area2DatasetsExample/>, mountNode);
