const YAxisLabelsExample = (props) => {
  const chartStyle = {marginBottom: '10px'};

  return <div>
    <div style={chartStyle}>
      <XYPlot
        width={300} height={300}
        xDomain={[-20, 20]} yDomain={[-20, 20]}
      >
        <YAxisLabels />
        <YAxisLabels position="right" tickCount={5} />
      </XYPlot>
    </div>
  </div>
};

ReactDOM.render(<YAxisLabelsExample />, mountNode);
