const YAxisLabelsExample = (props) => {
  const chartStyle = {marginBottom: '10px'};

  return <div>
    <div style={chartStyle}>
      <XYPlot
        width={300} height={300}
        xDomain={[-20, 20]} yDomain={[-20, 20]}
      >
        <YAxisLabels
          formats={["+"]}
        />
        <YAxisLabels
          format={label => label + "%"}
          position="right"
          tickCount={5}
          labelStyle={(label) => {
            const is20 = Math.abs(label.value) === 20;
            return {
              fill: is20 ? "green" : "black",
              fontWeight: is20 ? 900 : 400
            };
          }}
        />
      </XYPlot>
    </div>
  </div>
};

ReactDOM.render(<YAxisLabelsExample />, mountNode);
