const YTicksExample = (props) => {
  const size = {width: 100, height: 300};
  const chartStyle = {display: 'inline-block', marginRight: '10px'};

  return <div>
    <div style={chartStyle}>
      <XYPlot domain={{x: [-20, 20], y: [-20, 20]}} {...size}>
        <YTicks />
      </XYPlot>
    </div>
    <div style={chartStyle}>
      <XYPlot domain={{x: [-20, 20], y: [-20, 20]}} {...size}>
        <YTicks placement="after" tickCount={10} />
        <YTicks position="right" placement="before" tickCount={5} tickLength={20} />
        <YTicks position="right" tickCount={30} tickLength={15} tickStyle={{stroke: 'red'}} />
      </XYPlot>
    </div>
  </div>
};


ReactDOM.render(<YTicksExample />, mountNode);
