const XAxisLabelsExample = (props) => {
  const chartStyle = {marginBottom: '10px'};

  return <div>
    <div style={chartStyle}>
      <XYPlot
        width={400} height={150}
        xDomain={[-20, 20]} yDomain={[-20, 20]}
      >
        <XAxisLabels />
        <XAxisLabels
          format={label => label + "%"}
          position="top"
          distance={2}
          tickCount={5}
          labelStyle={(label) => {
              return {
                fontSize: '10px',
                fill: label.text === "20%" ? "red" : "black"
              };
            }
          } />
      </XYPlot>
    </div>
  </div>
};

ReactDOM.render(<XAxisLabelsExample />, mountNode);
