const AriaLabelContainerExample = (props) => {
  const data = _.range(10).map(d => ({
    x: d,
    y: Math.round(d * Math.random() * 10)
  }))
  return <XYPlot scaleType="linear" width={600} height={350}>
      <XAxis title="X Axis" />
      <YAxis title="Y Axis" />
      <LineChart
        data={data}
        x={d => d.x}
        y={d => d.y}
        lineStyle={{stroke: '#ff7f0e', strokeWidth: 3}}
      />
      <AriaLabelContainer
        ariaLabelGenerator={xValue => {
          const dataPoint = data.find(d => d.x === xValue);
          if(dataPoint){
            return `xValue, ${dataPoint.x}; yValue, ${dataPoint.y}`
          }
        }}
        datasetWithAccessor={
          [{
            data: data,
            accessor: d => d.x
          }]
        }
       />
    </XYPlot>;
};

ReactDOM.render(<AriaLabelContainerExample />, mountNode);
