const MarkerLineChartExample = (props) => {
  return <div>
    <div>
      <XYPlot scaleType="linear" {...{width: 500, height: 500}}>
        <XAxis title="Phase" />
        <YAxis title="Intensity" />
        <MarkerLineChart
          data={_.range(30)}
          x={d => d}
          y={d => Math.sin(d / (Math.PI))}
        />
      </XYPlot>

      <XYPlot scaleType="linear" {...{width: 500, height: 500}}>
        <XAxis title="Phase" />
        <YAxis title="Intensity" />
        <MarkerLineChart
          horizontal
          data={_.range(30)}
          x={d => d}
          y={d => Math.sin(d / (Math.PI))}
        />
      </XYPlot>
    </div>

    <div>
      <XYPlot scaleType="linear" {...{width: 500, height: 500}}>
        <XAxis title="Phase" />
        <YAxis title="Intensity" />
        <MarkerLineChart
          data={_.range(15)}
          x={d => Math.sin(d / 10) * 10}
          xEnd={d => Math.sin((d + 1) / 10) * 10}
          y={d => Math.sin(d / (Math.PI))}
        />
      </XYPlot>

      <XYPlot scaleType="linear" {...{width: 500, height: 500}}>
        <XAxis title="Phase" />
        <YAxis title="Intensity" />
        <MarkerLineChart
          horizontal
          data={_.range(15)}
          x={d => Math.sin(d / (Math.PI))}
          y={d => Math.sin(d / 10) * 10}
          yEnd={d => Math.sin((d + 1) / 10) * 10}
        />
      </XYPlot>
    </div>
  </div>;
};

ReactDOM.render(<MarkerLineChartExample />, mountNode);
