const BarExample = (props) => {
  return <div>
    <XYPlot
      width={500} height={320}
      xDomain={['a', 'b', 'c', 'd']} yDomain={[0, 100]}
    >
      <XAxis /><YAxis />
      <Bar
        x={'b'}
        y={0} yEnd={75}
        thickness={15}
      />
      <Bar
        x={'c'}
        y={45} yEnd={80}
        thickness={30}
        style={{fill: 'coral'}}
      />
    </XYPlot>
  </div>;
};

ReactDOM.render(<BarExample />, mountNode);
