const AreaChartExample = (props) => {
  return <div>
    <XYPlot width={400} height={400}>
      <XAxis gridLineStyle={{stroke: '#666'}}/>
      <YAxis gridLineStyle={{stroke: '#666'}}/>
      <AreaChart
        data={_.range(41)}
        getX={undefined}
        getY={d => Math.sin(d / 10) * 10}
        getYEnd={d => Math.cos((d + 1) / 10) * 10}
      />
    </XYPlot>
  </div>
}

ReactDOM.render(<AreaChartExample/>, mountNode);
