class SankeyInteractiveExample extends React.Component {
  state = {
    activeNode: undefined,
    activeLinkSource: undefined,
    activeLinkTarget: undefined
  };

  render() {
    const graph = getSampleData();
    return <div>
      <SankeyDiagram
        width={900}
        height={500}
        nodes={graph.nodes}
        links={graph.links}
        nodeId={getNodeId}
        nodeLabelText={(node) => node.label}
        nodeStyle={(node) => {
          const nodeId = getNodeId(node);
          if(nodeId === this.state.activeNode)
            return {fill: 'red'};
          if(nodeId === this.state.activeLinkSource || nodeId === this.state.activeLinkTarget)
            return {fill: 'blue'};
          return {};
        }}
        linkStyle={(link) => {
          const sourceId = getNodeId(link.source);
          const targetId = getNodeId(link.target);
          if(this.state.activeLinkSource === sourceId && this.state.activeLinkTarget === targetId)
            return {stroke: 'thistle'};
          return {};
        }}
        onMouseEnterNode={(event, info) => {
          this.setState({activeNode: getNodeId(info.node)})
        }}
        onMouseLeaveNode={(event, info) => {
          this.setState({activeNode: undefined})
        }}
        onMouseEnterLink={(event, info) => {
          this.setState({
            activeLinkSource: getNodeId(info.link.source),
            activeLinkTarget: getNodeId(info.link.target),
          });
        }}
        onMouseLeaveLink={(event, info) => {
          this.setState({activeLinkSource: undefined, activeLinkTarget: undefined});
        }}
      />
    </div>;
  }
}

ReactDOM.render(<SankeyInteractiveExample />, mountNode);

function getNodeId(node) { return node.id }

function getSampleData() {
  return {
    nodes: [
      {id: 'a', label: "Apples"},
      {id: 'b', label: "Bananas"},
      {id: 'c', label: "Cherries"},
      {id: 'd', label: "Dates"},
      {id: 'e', label: "Elderberries"},
      {id: 'f', label: "Figs"},
      {id: 'g', label: "Grapes"},
    ],
    links: [
      {source: 'a', target: 'c', value: 5},
      {source: 'a', target: 'd', value: 5},
      {source: 'b', target: 'c', value: 5},
      {source: 'b', target: 'd', value: 5},
      {source: 'c', target: 'e', value: 3.33},
      {source: 'c', target: 'g', value: 3.33},
      {source: 'd', target: 'e', value: 3.33},
      {source: 'd', target: 'f', value: 3.33},
    ]
  }
}