const ColorHeatMapExample = (props) => {
  const gridData = _.range(30).map(m => {
    return _.range(30).map(n => {
      return {
        x: n,
        xEnd: n + 1,
        y: m,
        yEnd: m + 1,
        value: Math.sin(m * n * 0.01)
      };
    });
  });

  const data = _.flatten(gridData);

  return <div>
    <XYPlot width={500} height={500}>
      <ColorHeatmap
        data={data}
        getValue="value"
        getX="x"
        getXEnd="xEnd"
        getY="y"
        getYEnd="yEnd"
        colors={['rebeccapurple', 'goldenrod']}
        interpolator={'lab'}
      />
      <XAxis gridLineStyle={{stroke: '#666'}}/>
      <YAxis gridLineStyle={{stroke: '#666'}}/>
    </XYPlot>

    <XYPlot width={500} height={500}>
      <ColorHeatmap
        data={data}
        getValue="value"
        getX="x"
        getXEnd="xEnd"
        getY="y"
        getYEnd="yEnd"
        valueDomain={[-1, 0, 1]}
        colors={['Crimson', '#eee', 'ForestGreen']}
        interpolator={'lab'}
      />
      <XAxis gridLineStyle={{stroke: '#666'}}/>
      <YAxis gridLineStyle={{stroke: '#666'}}/>
    </XYPlot>
  </div>;
};

ReactDOM.render(<ColorHeatMapExample />, mountNode);
