const ZoomContainerExample = (props) => {
  return <div>
    <ZoomContainer width={600} height={350} onZoom={handleZoom}>
      <XYPlot scaleType="linear" width={600} height={350}>
        <XAxis title="Phase" />
        <YAxis title="Intensity" />
        <LineChart
          data={_.range(100)}
          x={d => d}
          y={d => Math.sin(d*.1)}
        />
      </XYPlot>
    </ZoomContainer>
  </div>
};

function handleZoom(...args) {
  console.log(args);
}

ReactDOM.render(<ZoomContainerExample />, mountNode);
